<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../public/images/India-Farm-Logo.png" sizes="16x16" type="image/png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- fontawsome link  -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.css">

    <title>IFA</title>
</head>
<body>

<div class="container-fluid">

    <div class="row pad-50 fixed-top" id="header">

        <div class="col-12 py-lg-2 px-0">

            <!-- header section start  -->

            <header>

                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand me-lg-5" href="user-login.html"><img src="../../public/images/India-Farm-Logo.png" alt="img not found" class="brand-logo w-100"></a>

                        <div class="dropdown d-lg-none">
                            <button class="btn bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../../public/images/admin.jpg" style="width: 30px; height: 30px;" alt="img not found">
                            </button>
                            <ul class="dropdown-menu" style=" border-top: 3px solid #0572B2; border-bottom: 3px solid #0572B2;" aria-labelledby="dropdownMenuButton1">

                                <li>
                                    <a class="dropdown-item" href="#">

                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0">
                                                <img src="../../public/images/user-img.png" style="width: 40px; height: 40px;" alt="img not found">
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <h5>Hello !</h5>
                                                <h6 class="text-decoration-underline">User Full Name</h6>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="my-3"><a class="dropdown-item border-bottom" href="edit_profile.html"><i class="fas fa-user-edit me-3"></i>Edit Your Profile</a></li>
                                <li class="my-3"><a class="dropdown-item border-bottom" href="your_ad.html"><i class="fas fa-ad me-3"></i>Your Ads</a></li>
                                <li class="my-3"><a class="dropdown-item border-bottom" href="post_ad.html"><i class="fas fa-address-card me-3"></i>Post an Ad</a></li>
                                <li class="my-3"><a class="dropdown-item border-bottom" href="your_subscription.html"><i class="fas fa-vote-yea me-3"></i>Your Subscription </a></li>
                                <li class="my-3"><a class="dropdown-item" href="index.html"><i class="fas fa-sign-out-alt me-3"></i>Log Out</a></li>
                            </ul>
                        </div>
                        <!-- user dropdown  -->

                        <div class="col-12 py-0 d-none d-md-block d-lg-none col-md-6 mx-auto">
                            <form class="d-flex">
                                <div class="input-group">
                                    <input type="text" class="form-control border-dark rounded-pill" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                                    <span class="input-group-text btn bg-transparent rounded-pill position-absolute end-0 me-2"  id="basic-addon2"><i class="fas fa-search"></i></span>
                                </div>
                            </form>

                        </div>
                        <!-- end of col -->

                        <!-- off canvas start  -->

                        <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">  <span class="navbar-toggler-icon"></span></button>

                        <div class="offcanvas offcanvas-end  d-lg-none" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                            <div class="offcanvas-header">

                                <ul class="list-unstyled mt-3">
                                    <li class="nav-item">
                                        <select class="form-select border-0" aria-label="Default select example">
                                            <option selected disabled class="text-secondary">Language</option>
                                            <option value="Marathi">मराठी</option>
                                            <option value="Hindi">हिन्दी</option>
                                            <option value="English">English</option>
                                        </select>

                                    </li>

                                </ul>
                                <!-- language selecter  -->




                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body py-0">
                                <ul class="list-unstyled mb-lg-0 align-items-center">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            All Categories
                                        </a>
                                        <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item border-bottom" href="cows.html">Cows</a></li>
                                            <li><a class="dropdown-item  border-bottom" href="sheeps.html">Sheeps</a></li>
                                            <li><a class="dropdown-item  border-bottom" href="goat.html">Goat</a></li>
                                            <li><a class="dropdown-item  border-bottom" href="buffalo.html">Buffalo</a></li>
                                            <li><a class="dropdown-item" href="bull.html">Bull</a></li>

                                        </ul>
                                    </li>

                                    <hr class="bg-dark py-0" style="opacity: 1;">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Vet Services
                                        </a>
                                        <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">


                                            <li><a class="dropdown-item border-bottom" href="search_vet.html">Search Vet</a></li>
                                            <!-- <li><a class="dropdown-item" href="consultation.html">Consultation</a></li> -->
                                            <li><a class="dropdown-item border-bottom" href="book_appointment.html">Book An Appointment</a></li>
                                            <li><a class="dropdown-item border-bottom" href="certify_animal.html">Certify My Animal</a></li>
                                            <li><a class="dropdown-item" href="vet_ragistration.html">Vet Registration</a></li>


                                        </ul>
                                    </li>

                                    <hr class="bg-dark" style="opacity: 0.4;">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Transport
                                        </a>
                                        <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item border-bottom" href="search_transport.html">Search Transport</a></li>
                                            <li><a class="dropdown-item border-bottom" href="book_transport.html"> Book Your Transport</a></li>
                                            <li><a class="dropdown-item" href="register_vendor.html">Register As Vendor</a></li>


                                        </ul>
                                    </li>

                                    <hr class="bg-dark  py-0" style="opacity: 1;">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Education
                                        </a>
                                        <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="online_courses.html">Online Courses</a></li>


                                        </ul>
                                    </li>

                                    <hr class="bg-dark py-0" style="opacity: 1;">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="forum_disscussion.html">
                                            Community & Forum
                                        </a>

                                    </li>
                                    <hr class="bg-dark py-0" style="opacity: 1;">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="news_updates.html">
                                            News & Updates
                                        </a>

                                    </li>
                                    <hr class="bg-dark" style="opacity: 0.4;">
                                </ul>





                            </div>
                        </div>
                        <!-- end of canvas  -->

                        <div class="collapse navbar-collapse pe-lg-4" id="navbarSupportedContent">
                            <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
                                <li class="nav-item">
                                    <select class="form-select border-0" aria-label="Default select example">
                                        <option selected disabled class="text-secondary">Language</option>
                                        <option value="Marathi">मराठी</option>
                                        <option value="Hindi">हिन्दी</option>
                                        <option value="English">English</option>
                                    </select>
                                </li>
                            </ul>


                            <div class="col-12 col-md-5 col-xl-6 mx-auto">
                                <form class="d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control rounded-pill py-3 px-5" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                                        <span class="input-group-text btn bg-transparent rounded-pill " style="z-index: 1200;" id="basic-addon2"><i class="fas fa-search"></i></span>
                                    </div>
                                </form>

                            </div>
                            <!-- end of col -->

                            <div class="btn1 d-flex align-items-center justify-content-around mt-4 mt-lg-0 ms-xl-5">

                                <div class="me-5">

                                    <a href="chat.html" class="text-decoration-none">
                                        <img src="../../public//images/chat.png" alt="img not found">
                                    </a>

                                </div>
                                <!-- chat div  -->


                                <div class="dropdown dropstart">
                                    <button class="btn bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="../../public/images/admin.jpg" style="width: 30px; height: 30px;" alt="img not found">
                                    </button>
                                    <ul class="dropdown-menu p-1 mt-5" style=" border-top: 3px solid #0572B2; border-bottom: 3px solid #0572B2;" aria-labelledby="dropdownMenuButton1">

                                        <li>
                                            <a class="dropdown-item" href="#">

                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <img src="../../public/images/user-img.png" style="width: 40px; height: 40px;" alt="img not found">
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h5>Hello !</h5>
                                                        <h6 class="text-decoration-underline">User Full Name</h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="my-3"><a class="dropdown-item border-bottom" href="edit_profile.html"><i class="fas fa-user-edit me-3"></i>Edit Your Profile</a></li>
                                        <li class="my-3"><a class="dropdown-item border-bottom" href="your_ad.html"><i class="fas fa-ad me-3"></i>Your Ads</a></li>
                                        <li class="my-3"><a class="dropdown-item border-bottom" href="post_ad.html"><i class="fas fa-address-card me-3"></i>Post an Ad</a></li>
                                        <li class="my-3"><a class="dropdown-item border-bottom" href="your_subscription.html"><i class="fas fa-vote-yea me-3"></i>Your Subscription </a></li>
                                        <li class="my-3"><a class="dropdown-item" href="index.html"><i class="fas fa-sign-out-alt me-3"></i>Log Out</a></li>
                                    </ul>
                                </div>
                                <!-- user dropdown  -->


                            </div>
                            <!-- end of btn1  -->


                        </div>
                    </div>
                </nav>


            </header>

            <!-- header section end -->



        </div>
        <!-- end of col  -->



        <div class="col-12 py-0 d-md-none col-md-6 mx-auto">
            <form class="d-flex">
                <div class="input-group">
                    <input type="text" class="form-control border-dark rounded-pill" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                    <span class="input-group-text btn bg-transparent rounded-pill position-absolute end-0 me-2"  id="basic-addon2"><i class="fas fa-search"></i></span>
                </div>
            </form>

        </div>
        <!-- end of col -->


    </div>
    <!-- end of row header -->



    <div class="row d-none d-lg-flex text-center pad-50 justify-content-around" id="top-menu-bar">
        <hr class="" style="opacity: 1; background-color: #0572B2;">

        <div class="col-lg-11 mb-2 col-xl-9 col-xxl-8 text-center">

            <ul class="list-unstyled d-flex  mb-2 mb-lg-0 align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="cows.html">Cows</a></li>
                        <li><a class="dropdown-item" href="sheeps.html">Sheeps</a></li>
                        <li><a class="dropdown-item" href="goat.html">Goat</a></li>
                        <li><a class="dropdown-item" href="buffalo.html">Buffalo</a></li>
                        <li><a class="dropdown-item" href="bull.html">Bull</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Vet Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="search_vet.html">Search A Vet</a></li>
                        <!-- <li><a class="dropdown-item" href="consultation.html">Consultation</a></li> -->
                        <li><a class="dropdown-item" href="book_appointment.html">Book An Appointment</a></li>
                        <li><a class="dropdown-item" href="certify_animal.html">Certify My Animal</a></li>
                        <li><a class="dropdown-item" href="vet_ragistration.html"> Register as a Vet</a></li>


                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Transport
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="search_transport.html">Search Transport</a></li>
                        <li><a class="dropdown-item" href="book_transport.html"> Book Transport</a></li>
                        <li><a class="dropdown-item" href="register_vendor.html">Register As Vendor</a></li>


                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="online_courses.html" id="navbarDropdown">
                        Education
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="forum_disscussion.html">
                        Community & Forum
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="news_updates.html">
                        News & Updates
                    </a>

                </li>
            </ul>





        </div>
        <!-- end of col  -->


        <hr class="" style="opacity: 1; background-color: #0572B2;">

    </div>
    <!-- end of row  -->




    <div class="row pad-50 justify-content-between mt-5 pt-5 mt-lg-0" id="my_ads">


        <div class="col-12 mt-5 mt-md-0">


            <div class="row ">

                <div class="col-12 col-md-4">

                    <div class="input-group mb-3 position-relative">
                        <input type="text" class="form-control rounded-pill ps-4 btn-outline-light border py-2"  placeholder="Search Your Posted Ad" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text btn position-absolute end-0" style="z-index: 1100;"  id="basic-addon2"><i class="fas fa-search"></i></span>
                    </div>

                </div>
                <!-- end of col-12  inner  -->

            </div>
            <!-- end of inner row  -->


            <div class="row mt-5 py-4 px-md-3 pt-md-3 border queryrow1" id="user_ad" style="border-radius: 10px; box-shadow: 1px 1px 20px lightgrey;">

                <div class="col-12 col-md-2 border-end border-dark">

                    <h6 class="mb-3 text-center tcolor fw-bold">Add Posted Date</h6>




                    <div class=" px-4 border_color2 px-md-0 px-xl-4 mb-3 mb-md-0 d-flex justify-content-between py-2">

                        <span> <small>3</small> / <small>12</small> / <small>2022</small></span>
                        <span><img src="../../public/images/calendar.png" class="d-md-none d-lg-flex" alt="img not found"></span>

                    </div>




                </div>
                <!-- end of inner col  -->


                <div class="col-12 col-md-10">

                    <div class="row justify-content-around">

                        <div class="col-6 col-md-2 text-center ">

                            <img src="https://images.pexels.com/photos/8432736/pexels-photo-8432736.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="your_ad_img" alt="img not found">


                        </div>
                        <!-- end of col  -->

                        <div class="col-6 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Price</h6>

                            <strong><span><i class="fas fa-rupee-sign me-2"></i></span> <span>700.00</span> </strong>

                        </div>
                        <!-- end of col  -->

                        <div class="col-6 mt-4 mt-md-0 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Quantity =<span class="ms-2 text-dark">01</span> </h6>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" checked>
                                <label class="form-check-label" for="flexCheckDefault1">
                                    Premium
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" >
                                <label class="form-check-label" for="flexCheckChecked2">
                                    Certified
                                </label>
                            </div>

                        </div>
                        <!-- end of col  -->

                        <div class="col-6 mt-4 mt-md-0 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Ad Status</h6>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" checked>
                                <label class="form-check-label" for="flexCheckDefault3">
                                    Active
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" >
                                <label class="form-check-label" for="flexCheckChecked4">
                                    Inactive
                                </label>
                            </div>

                        </div>
                        <!-- end of col  -->

                        <div class="col-12 col-md-2 mt-4 mt-md-0 border-start border-dark ">
                            <h6 class="mb-4 tcolor fw-bold text-center">Ad Options</h6>

                            <div class="d-flex d-md-block d-lg-flex justify-content-around">

                                <button type="button" class="btnhover px-4 px-md-3 px-lg-2 px-xl-3 border border-secondary bg-transparent rounded-pill mb-md-3 me-2 mb-lg-0">Edit</button>

                                <button type="button" class="btnhover px-3 px-md-2 px-lg-2 px-xl-3 border border-secondary bg-transparent rounded-pill">Remove</button>

                            </div>

                        </div>
                        <!-- end of col inner -->


                    </div>
                    <!-- end of row innner -->

                    <div class="row mt-3 pb-0 justify-content-between border-top border-dark align-items-center">

                        <div class="col-12 mt-3 col-md-6 col-lg-5 col-xxl-6 align-items-center">

                            <p><i class="fas fa-eye me-2 tcolor"></i> <strong> No Of Views = <span>10</span> </strong> </p>


                        </div>
                        <!-- end of col inner  -->

                        <div class="col-6 col-md-3">

                            <button class="btnhover3 btnfast yellow border border-dark px-4 py-1">Certify Your Animal</button>


                        </div>
                        <!-- end of col inner  -->

                        <div class="col-6 col-md-3 col-lg-4 col-xxl-3 mt-md-0">

                            <button class="btnhover3 btnfast greencolor text-light border border-dark px-4 py-1">Sell Faster With Premium</button>


                        </div>
                        <!-- end of col inner  -->


                    </div>
                    <!-- end of row inner -->


                </div>
                <!-- end of col-10 -->





            </div>
            <!-- end of row inner -->

            <div class="row mt-5 py-4 px-md-3 pt-md-3 border queryrow1" id="user_ad" style="border-radius: 10px; box-shadow: 1px 1px 20px lightgrey;">

                <div class="col-12 col-md-2 border-end border-dark">

                    <h6 class="mb-3 text-center tcolor fw-bold">Add Posted Date</h6>




                    <div class=" px-4 border_color2 px-md-0 px-xl-4 mb-3 mb-md-0 d-flex justify-content-between py-2">

                        <span> <small>3</small> / <small>12</small> / <small>2022</small></span>
                        <span><img src="../../public/images/calendar.png" class="d-md-none d-lg-flex" alt="img not found"></span>

                    </div>




                </div>
                <!-- end of inner col  -->


                <div class="col-12 col-md-10">

                    <div class="row justify-content-around">

                        <div class="col-6 col-md-2 text-center ">

                            <img src="https://images.pexels.com/photos/8432736/pexels-photo-8432736.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="your_ad_img" alt="img not found">


                        </div>
                        <!-- end of col  -->

                        <div class="col-6 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Price</h6>

                            <strong><span><i class="fas fa-rupee-sign me-2"></i></span> <span>700.00</span> </strong>

                        </div>
                        <!-- end of col  -->

                        <div class="col-6 mt-4 mt-md-0 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Quantity =<span class="ms-2 text-dark">01</span> </h6>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" checked>
                                <label class="form-check-label" for="flexCheckDefault1">
                                    Premium
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" >
                                <label class="form-check-label" for="flexCheckChecked2">
                                    Certified
                                </label>
                            </div>

                        </div>
                        <!-- end of col  -->

                        <div class="col-6 mt-4 mt-md-0 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Ad Status</h6>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" checked>
                                <label class="form-check-label" for="flexCheckDefault3">
                                    Active
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" >
                                <label class="form-check-label" for="flexCheckChecked4">
                                    Inactive
                                </label>
                            </div>

                        </div>
                        <!-- end of col  -->

                        <div class="col-12 col-md-2 mt-4 mt-md-0 border-start border-dark ">
                            <h6 class="mb-4 tcolor fw-bold text-center">Ad Options</h6>

                            <div class="d-flex d-md-block d-lg-flex justify-content-around">

                                <button type="button" class="btnhover px-4 px-md-3 px-lg-2 px-xl-3 border border-secondary bg-transparent rounded-pill mb-md-3 me-2 mb-lg-0">Edit</button>

                                <button type="button" class="btnhover px-3 px-md-2 px-lg-2 px-xl-3 border border-secondary bg-transparent rounded-pill">Remove</button>

                            </div>

                        </div>
                        <!-- end of col inner -->


                    </div>
                    <!-- end of row innner -->

                    <div class="row mt-3 pb-0 justify-content-between border-top border-dark align-items-center">

                        <div class="col-12 mt-3 col-md-6 col-lg-5 col-xxl-6 align-items-center">

                            <p><i class="fas fa-eye me-2 tcolor"></i> <strong> No Of Views = <span>10</span> </strong> </p>


                        </div>
                        <!-- end of col inner  -->

                        <div class="col-6 col-md-3">

                            <button class="btnhover3 btnfast yellow border border-dark px-4 py-1">Certify Your Animal</button>


                        </div>
                        <!-- end of col inner  -->

                        <div class="col-6 col-md-3 col-lg-4 col-xxl-3 mt-md-0">

                            <button class="btnhover3 btnfast greencolor text-light border border-dark px-4 py-1">Sell Faster With Premium</button>


                        </div>
                        <!-- end of col inner  -->


                    </div>
                    <!-- end of row inner -->


                </div>
                <!-- end of col-10 -->





            </div>
            <!-- end of row inner -->

            <div class="row mt-5 py-4 px-md-3 pt-md-3 border queryrow1" id="user_ad" style="border-radius: 10px; box-shadow: 1px 1px 20px lightgrey;">

                <div class="col-12 col-md-2 border-end border-dark">

                    <h6 class="mb-3 text-center tcolor fw-bold">Add Posted Date</h6>




                    <div class=" px-4 border_color2 px-md-0 px-xl-4 mb-3 mb-md-0 d-flex justify-content-between py-2">

                        <span> <small>3</small> / <small>12</small> / <small>2022</small></span>
                        <span><img src="../../public/images/calendar.png" class="d-md-none d-lg-flex" alt="img not found"></span>

                    </div>




                </div>
                <!-- end of inner col  -->


                <div class="col-12 col-md-10">

                    <div class="row justify-content-around">

                        <div class="col-6 col-md-2 text-center ">

                            <img src="https://images.pexels.com/photos/8432736/pexels-photo-8432736.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="your_ad_img" alt="img not found">


                        </div>
                        <!-- end of col  -->

                        <div class="col-6 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Price</h6>

                            <strong><span><i class="fas fa-rupee-sign me-2"></i></span> <span>700.00</span> </strong>

                        </div>
                        <!-- end of col  -->

                        <div class="col-6 mt-4 mt-md-0 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Quantity =<span class="ms-2 text-dark">01</span> </h6>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" checked>
                                <label class="form-check-label" for="flexCheckDefault1">
                                    Premium
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" >
                                <label class="form-check-label" for="flexCheckChecked2">
                                    Certified
                                </label>
                            </div>

                        </div>
                        <!-- end of col  -->

                        <div class="col-6 mt-4 mt-md-0 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Ad Status</h6>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" checked>
                                <label class="form-check-label" for="flexCheckDefault3">
                                    Active
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" >
                                <label class="form-check-label" for="flexCheckChecked4">
                                    Inactive
                                </label>
                            </div>

                        </div>
                        <!-- end of col  -->

                        <div class="col-12 col-md-2 mt-4 mt-md-0 border-start border-dark ">
                            <h6 class="mb-4 tcolor fw-bold text-center">Ad Options</h6>

                            <div class="d-flex d-md-block d-lg-flex justify-content-around">

                                <button type="button" class="btnhover px-4 px-md-3 px-lg-2 px-xl-3 border border-secondary bg-transparent rounded-pill mb-md-3 me-2 mb-lg-0">Edit</button>

                                <button type="button" class="btnhover px-3 px-md-2 px-lg-2 px-xl-3 border border-secondary bg-transparent rounded-pill">Remove</button>

                            </div>

                        </div>
                        <!-- end of col inner -->


                    </div>
                    <!-- end of row innner -->

                    <div class="row mt-3 pb-0 justify-content-between border-top border-dark align-items-center">

                        <div class="col-12 mt-3 col-md-6 col-lg-5 col-xxl-6 align-items-center">

                            <p><i class="fas fa-eye me-2 tcolor"></i> <strong> No Of Views = <span>10</span> </strong> </p>


                        </div>
                        <!-- end of col inner  -->

                        <div class="col-6 col-md-3">

                            <button class="btnhover3 btnfast yellow border border-dark px-4 py-1">Certify Your Animal</button>


                        </div>
                        <!-- end of col inner  -->

                        <div class="col-6 col-md-3 col-lg-4 col-xxl-3 mt-md-0">

                            <button class="btnhover3 btnfast greencolor text-light border border-dark px-4 py-1">Sell Faster With Premium</button>


                        </div>
                        <!-- end of col inner  -->


                    </div>
                    <!-- end of row inner -->


                </div>
                <!-- end of col-10 -->





            </div>
            <!-- end of row inner -->

            <div class="row mt-5 py-4 px-md-3 pt-md-3 border queryrow1" id="user_ad" style="border-radius: 10px; box-shadow: 1px 1px 20px lightgrey;">

                <div class="col-12 col-md-2 border-end border-dark">

                    <h6 class="mb-3 text-center tcolor fw-bold">Add Posted Date</h6>




                    <div class=" px-4 border_color2 px-md-0 px-xl-4 mb-3 mb-md-0 d-flex justify-content-between py-2">

                        <span> <small>3</small> / <small>12</small> / <small>2022</small></span>
                        <span><img src="../../public/images/calendar.png" class="d-md-none d-lg-flex" alt="img not found"></span>

                    </div>




                </div>
                <!-- end of inner col  -->


                <div class="col-12 col-md-10">

                    <div class="row justify-content-around">

                        <div class="col-6 col-md-2 text-center ">

                            <img src="https://images.pexels.com/photos/8432736/pexels-photo-8432736.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="your_ad_img" alt="img not found">


                        </div>
                        <!-- end of col  -->

                        <div class="col-6 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Price</h6>

                            <strong><span><i class="fas fa-rupee-sign me-2"></i></span> <span>700.00</span> </strong>

                        </div>
                        <!-- end of col  -->

                        <div class="col-6 mt-4 mt-md-0 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Quantity =<span class="ms-2 text-dark">01</span> </h6>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" checked>
                                <label class="form-check-label" for="flexCheckDefault1">
                                    Premium
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" >
                                <label class="form-check-label" for="flexCheckChecked2">
                                    Certified
                                </label>
                            </div>

                        </div>
                        <!-- end of col  -->

                        <div class="col-6 mt-4 mt-md-0 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Ad Status</h6>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" checked>
                                <label class="form-check-label" for="flexCheckDefault3">
                                    Active
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" >
                                <label class="form-check-label" for="flexCheckChecked4">
                                    Inactive
                                </label>
                            </div>

                        </div>
                        <!-- end of col  -->

                        <div class="col-12 col-md-2 mt-4 mt-md-0 border-start border-dark ">
                            <h6 class="mb-4 tcolor fw-bold text-center">Ad Options</h6>

                            <div class="d-flex d-md-block d-lg-flex justify-content-around">

                                <button type="button" class="btnhover px-4 px-md-3 px-lg-2 px-xl-3 border border-secondary bg-transparent rounded-pill mb-md-3 me-2 mb-lg-0">Edit</button>

                                <button type="button" class="btnhover px-3 px-md-2 px-lg-2 px-xl-3 border border-secondary bg-transparent rounded-pill">Remove</button>

                            </div>

                        </div>
                        <!-- end of col inner -->


                    </div>
                    <!-- end of row innner -->

                    <div class="row mt-3 pb-0 justify-content-between border-top border-dark align-items-center">

                        <div class="col-12 mt-3 col-md-6 col-lg-5 col-xxl-6 align-items-center">

                            <p><i class="fas fa-eye me-2 tcolor"></i> <strong> No Of Views = <span>10</span> </strong> </p>


                        </div>
                        <!-- end of col inner  -->

                        <div class="col-6 col-md-3">

                            <button class="btnhover3 btnfast yellow border border-dark px-4 py-1">Certify Your Animal</button>


                        </div>
                        <!-- end of col inner  -->

                        <div class="col-6 col-md-3 col-lg-4 col-xxl-3 mt-md-0">

                            <button class="btnhover3 btnfast greencolor text-light border border-dark px-4 py-1">Sell Faster With Premium</button>


                        </div>
                        <!-- end of col inner  -->


                    </div>
                    <!-- end of row inner -->


                </div>
                <!-- end of col-10 -->





            </div>
            <!-- end of row inner -->

            <div class="row mt-5 py-4 px-md-3 pt-md-3 border queryrow1" id="user_ad" style="border-radius: 10px; box-shadow: 1px 1px 20px lightgrey;">

                <div class="col-12 col-md-2 border-end border-dark">

                    <h6 class="mb-3 text-center tcolor fw-bold">Add Posted Date</h6>




                    <div class=" px-4 border_color2 px-md-0 px-xl-4 mb-3 mb-md-0 d-flex justify-content-between py-2">

                        <span> <small>3</small> / <small>12</small> / <small>2022</small></span>
                        <span><img src="../../public/images/calendar.png" class="d-md-none d-lg-flex" alt="img not found"></span>

                    </div>




                </div>
                <!-- end of inner col  -->


                <div class="col-12 col-md-10">

                    <div class="row justify-content-around">

                        <div class="col-6 col-md-2 text-center ">

                            <img src="https://images.pexels.com/photos/8432736/pexels-photo-8432736.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="your_ad_img" alt="img not found">


                        </div>
                        <!-- end of col  -->

                        <div class="col-6 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Price</h6>

                            <strong><span><i class="fas fa-rupee-sign me-2"></i></span> <span>700.00</span> </strong>

                        </div>
                        <!-- end of col  -->

                        <div class="col-6 mt-4 mt-md-0 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Quantity =<span class="ms-2 text-dark">01</span> </h6>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" checked>
                                <label class="form-check-label" for="flexCheckDefault1">
                                    Premium
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" >
                                <label class="form-check-label" for="flexCheckChecked2">
                                    Certified
                                </label>
                            </div>

                        </div>
                        <!-- end of col  -->

                        <div class="col-6 mt-4 mt-md-0 col-md-2  border-start border-dark">
                            <h6 class="mb-3 tcolor fw-bold">Ad Status</h6>

                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" checked>
                                <label class="form-check-label" for="flexCheckDefault3">
                                    Active
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" >
                                <label class="form-check-label" for="flexCheckChecked4">
                                    Inactive
                                </label>
                            </div>

                        </div>
                        <!-- end of col  -->

                        <div class="col-12 col-md-2 mt-4 mt-md-0 border-start border-dark ">
                            <h6 class="mb-4 tcolor fw-bold text-center">Ad Options</h6>

                            <div class="d-flex d-md-block d-lg-flex justify-content-around">

                                <button type="button" class="btnhover px-4 px-md-3 px-lg-2 px-xl-3 border border-secondary bg-transparent rounded-pill mb-md-3 me-2 mb-lg-0">Edit</button>

                                <button type="button" class="btnhover px-3 px-md-2 px-lg-2 px-xl-3 border border-secondary bg-transparent rounded-pill">Remove</button>

                            </div>

                        </div>
                        <!-- end of col inner -->


                    </div>
                    <!-- end of row innner -->

                    <div class="row mt-3 pb-0 justify-content-between border-top border-dark align-items-center">

                        <div class="col-12 mt-3 col-md-6 col-lg-5 col-xxl-6 align-items-center">

                            <p><i class="fas fa-eye me-2 tcolor"></i> <strong> No Of Views = <span>10</span> </strong> </p>


                        </div>
                        <!-- end of col inner  -->

                        <div class="col-6 col-md-3">

                            <button class="btnhover3 btnfast yellow border border-dark px-4 py-1">Certify Your Animal</button>


                        </div>
                        <!-- end of col inner  -->

                        <div class="col-6 col-md-3 col-lg-4 col-xxl-3 mt-md-0">

                            <button class="btnhover3 btnfast greencolor text-light border border-dark px-4 py-1">Sell Faster With Premium</button>


                        </div>
                        <!-- end of col inner  -->


                    </div>
                    <!-- end of row inner -->


                </div>
                <!-- end of col-10 -->





            </div>
            <!-- end of row inner -->


            <div class="row mt-5 justify-content-around ext-centert">

                <div class="col-7 col-md-4 col-lg-3 col-xl-2 text-center">

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>


                </div>
                <!-- end of col  -->


            </div>
            <!-- end of row paggi  -->


        </div>
        <!-- end of col-12  -->





    </div>
    <!-- end of edit profile row  -->









    <footer class="" style="margin-top: 150px;">

        <div class="row pad-50 mt-5" id="footer">

            <hr class="" style="opacity: 1; background-color: #0572B2;">

            <div class="col-12 col-md-1 text-center">


                <ul class="list-unstyled justify-content-around d-flex d-md-block">
                    <li class="my-2">
                        <a href="#" class="text-decoration-none text-dark fs-5"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="my-2">
                        <a href="#" class="text-decoration-none text-dark fs-5"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="my-2">
                        <a href="#" class="text-decoration-none text-dark fs-5"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="my-2">
                        <a href="#" class="text-decoration-none text-dark fs-5"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="my-2">
                        <a href="#" class="text-decoration-none text-dark fs-5"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>





            </div>
            <!-- end of col  -->

            <div class="col-12 col-md-3">

                <strong style="border-bottom: 2px solid #0572B2;">Our Vision</strong>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, veniam?</p>



                <strong  style="border-bottom: 2px solid #0572B2;">Our Mission</strong>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, veniam?</p>



            </div>
            <!-- end of col  -->



            <div class="col-12 col-md-2" id="info-page">

                <ul class="list-unstyled mt-3">
                    <li class="my-2">
                        <a href="about_us.html" class="text-decoration-none text-dark">About Us</a>
                    </li>
                    <li class="my-2">
                        <a href="contact_us.html" class="text-decoration-none text-dark">Contact Us</a>
                    </li>
                    <li class="my-2">
                        <a href="privacy_policy.html" class="text-decoration-none text-dark">Privacy Policy</a>
                    </li>
                    <li class="my-2">
                        <a href="terms_condition.html" class="text-decoration-none text-dark">Terms & Condition</a>
                    </li>
                    <li class="my-2">
                        <a href="faq.html" class="text-decoration-none text-dark">FAQ</a>
                    </li>
                </ul>



            </div>
            <!-- end of col  -->

            <div class="col-12 col-md-3 pt-3 overflow-hidden">

                <p class="my-0">
                    <strong>Phone: <br class="d-none d-md-block d-lg-none">  </strong><a href="#" type="tel" class="text-decoration-none text-dark ms-2">123456789</a>
                </p>
                <p class="my-0">
                    <strong>Email: <br class="d-none d-md-block d-lg-none"> </strong><a href="#" type="email" class="text-decoration-none text-dark ms-2">abc@gmail.com</a>
                </p>
                <address class="my-0">
                    <strong>Address: <br class="d-none d-md-block d-lg-none">  </strong><a href="#" type="address" class="text-decoration-none text-dark ms-2">XYZ Street</a>
                </address>

            </div>
            <!-- end of col  -->

            <div class="col-12 col-md-3 overflow-hidden order-first order-md-last py-3 pb-md-0 border-start text-center" style="border-color: #0572B2 !important;">

                <img src="../../public/images/India-Farm-Logo.png" class="footer-logo" alt="img not found">


                <div class="position-relative mt-3">
                    <strong class="text-start"> Subscribe to our Newsletter</strong>
                    <form class="newsletter mt-2"  method="post" enctype="multipart/form-data">
                        <i class="far fa-envelope tcolor"></i>
                        <input type="email" name="email" Placeholder="Enter your email address" class="border-0" style="border-bottom: 2px solid #0572B2 !important;" required="">
                        <button type="submit" class="border-0 bg-transparent tcolor" name="submit"><i class="fas fa-arrow-right"></i></button>
                    </form>

                </div>


            </div>
            <!-- end of col  -->

            <div class="col-12 text-center my-2 order-last">

                <small class="">All Rights Reserved Ⓒ India Farm Animal </small>


            </div>
            <!-- end of col  -->

        </div>
        <!-- end of row  -->




    </footer>


















    <!-- sell button mobile mode  -->
    <!-- <a href="sell.html" class="text-decoration-none position-fixed bottom-0 end-0 mb-5 border ms-lg-5 d-lg-none me-2 px-2 py-2 bg-white rounded-pill">
        <button class="bg-transparent border-0"><i class="fas fa-plus me-2"></i>Sell </button>
    </a> -->
    <!-- end of button  -->


</div>
<!-- end of container fluid  -->





<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- jquery link  -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>



<script src="../../public/js/script.js"></script>
<script src="../../public/js/owl.carousel.js"></script>
<!-- <script src="../../public/js/bootstarp.js"></script> -->

<script>
    window.addEventListener("scroll", function () {
        if (pageYOffset >= 100) {
            // document.getElementById("header").style.position = "fixed";
            document.getElementById("header").style.background = "url(../../public/images/footer_bg.png) center center no-repeat";
            // document.getElementById("header").style.zIndex = "1300";
        } else {
            // document.getElementById("header").style.position = "static";
            document.getElementById("header").style.background = "white";


        }
    });
</script>


</body>
</html>