<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../public/images/India-Farm-Logo.png" sizes="16x16" type="image/png"> 

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- fontawsome link  -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.css">

    <title>IFA</title>
  </head>
  <body>

    <div class="container-fluid">

        
         
      <div class="row pad-50 fixed-top" id="header">

        <div class="col-12 py-lg-2 px-0">

            <!-- header section start  -->
            
            <header>

                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                      <a class="navbar-brand me-lg-5" href="index.html"><img src="../../public/images/India-Farm-Logo.png" alt="img not found" class="brand-logo w-100"></a>
                     
                      <div class="col-12 py-0 d-none d-md-block d-lg-none col-md-6 mx-auto">
                        <form class="d-flex">
                            <div class="input-group">
                                <input type="text" class="form-control border-dark rounded-pill" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                                <span class="input-group-text btn bg-transparent rounded-pill position-absolute end-0 me-2"  id="basic-addon2"><i class="fas fa-search"></i></span>
                              </div>
                          </form>
        
                    </div>
                    <!-- end of col -->

                      <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">  <span class="navbar-toggler-icon"></span></button>

                    <div class="offcanvas offcanvas-end  d-lg-none" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                      
                        <ul class="list-unstyled">
                            <li class="nav-item">
                              <select class="form-select border-0" aria-label="Default select example">
                                <option selected disabled class="text-secondary">Language</option>
                                <option value="Marathi">मराठी</option>
                                <option value="Hindi">हिन्दी</option>
                                <option value="English">English</option>
                              </select>
                              </li>      

                        </ul>
                      
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body py-0">
                        <ul class="list-unstyled mb-lg-0 align-items-center">
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                All Categories
                              </a>
                              <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item border-bottom" href="cows.html">Cows</a></li>
                                <li><a class="dropdown-item  border-bottom" href="sheeps.html">Sheeps</a></li>
                                <li><a class="dropdown-item  border-bottom" href="goat.html">Goat</a></li>
                                <li><a class="dropdown-item  border-bottom" href="buffalo.html">Buffalo</a></li>
                                <li><a class="dropdown-item" href="bull.html">Bull</a></li>
                              
                              </ul>
                              </li>
                         
        <hr class="bg-dark py-0" style="opacity: 1;">
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Vet Services
                              </a>
                              <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
      
                                
                        <li><a class="dropdown-item border-bottom" href="search_vet.html">Search A Vet</a></li>
                        <li><a class="dropdown-item border-bottom" href="book_appointment.html">Book An Appointment</a></li>
                        <li><a class="dropdown-item border-bottom" href="certify_animal.html">Certify My Animal</a></li>
                        <li><a class="dropdown-item" href="vet_ragistration.html">Register as a Vet</a></li>
                             
                              
                              </ul>
                              </li>

                              <hr class="bg-dark" style="opacity: 0.4;">
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Transport
                               </a>
                               <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item border-bottom" href="search_transport.html">Search Transport</a></li>
                                <li><a class="dropdown-item border-bottom" href="book_transport.html"> Book Transport</a></li>
                                <li><a class="dropdown-item" href="register_vendor.html">Register As Vendor</a></li>
                          
                               
                               </ul>
                              </li>
                   
        <hr class="bg-dark  py-0" style="opacity: 1;">
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Education
                                </a>
                                <ul class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="online_courses.html">Online Courses</a></li>
                               
                                
                                </ul>
                              </li>
                             
                       <hr class="bg-dark py-0" style="opacity: 1;">
                                <li class="nav-item">
                                  <a class="nav-link text-dark" href="forum_disscussion.html">
                                   Community & Forum
                                  </a>
                                
                                </li>
                                <hr class="bg-dark py-0" style="opacity: 1;">
                              <li class="nav-item">
                                  <a class="nav-link text-dark" href="news_updates.html">
                                    News & Updates
                                  </a>

                                </li>
                              <hr class="bg-dark" style="opacity: 0.4;">
                        </ul>
                        
                        
                        <div class="col-12  ">

                            <a href="login.html" class="text-decoration-none btn border border-dark w-100 ms-lg-5" style="border-radius: 10px;">
                                <button class="bg-transparent border-0 fw-bold">Login/Register</button>
                            </a>
                        </div>


                    </div>
                    </div>
                    <!-- end of canvas  -->

                      <div class="collapse navbar-collapse pe-lg-4" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0 align-items-center">
                            <li class="nav-item">
                              <select class="form-select border-0" aria-label="Default select example">
                                <option selected disabled class="text-secondary">Language</option>
                                <option value="Marathi">मराठी</option>
                                <option value="Hindi">हिन्दी</option>
                                <option value="English">English</option>
                              </select>
                              </li>           
                        </ul>

                        
                        <div class="col-12 col-md-5 col-xl-6 mx-auto">
                            <form class="d-flex">
                                <div class="input-group">
                                    <input type="text" class="form-control rounded-pill py-3 px-5" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                                    <span class="input-group-text btn bg-transparent rounded-pill " style="z-index: 1200;" id="basic-addon2"><i class="fas fa-search"></i></span>
                                  </div>
                              </form>
            
                        </div>
                        <!-- end of col -->

                        <div class="btn1 d-flex align-items-center justify-content-around mt-4 mt-lg-0 ms-xl-5">
                            
                        <a href="sell.html" class="text-decoration-none ms-xl-5 me-3 d-none d-lg-flex rounded-pill px-4 px-lg-2 py-2 bg-white">
                            <button class="bg-transparent border-0 btnsell tcolor fw-bold"> <span>Post Ad </span></button>
                        </a>
                        
                        <a href="login.html" class="text-decoration-none  ms-xl-1">
                            <button class="bg-transparent border-0 btnlogin fw-bold border-bottom border-2 tcolor">Login/Register </button>
                        </a>

                        </div>
                        <!-- end of btn1  -->
            
                       
                      </div>
                    </div>
                  </nav>
                
                
            </header>
            
            <!-- header section end -->
            


        </div>
        <!-- end of col  -->

 

        <div class="col-12 py-0 d-md-none col-md-6 mx-auto">
            <form class="d-flex">
                <div class="input-group">
                    <input type="text" class="form-control border-dark rounded-pill" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                    <span class="input-group-text btn bg-transparent rounded-pill position-absolute end-0 me-2"  id="basic-addon2"><i class="fas fa-search"></i></span>
                  </div>
              </form>

        </div>
        <!-- end of col -->
  

    </div>
    <!-- end of row header -->
    


    <div class="row d-none d-lg-flex text-center pad-50 justify-content-around" id="top-menu-bar">
        <hr class="" style="opacity: 1; background-color: #0572B2;">
        
        <div class="col-lg-11 mb-2 col-xl-9 col-xxl-8 text-center">

            <ul class="list-unstyled d-flex  mb-2 mb-lg-0 align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      All Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="cows.html">Cows</a></li>
                      <li><a class="dropdown-item" href="sheeps.html">Sheeps</a></li>
                      <li><a class="dropdown-item" href="goat.html">Goat</a></li>
                      <li><a class="dropdown-item" href="buffalo.html">Buffalo</a></li>
                      <li><a class="dropdown-item" href="bull.html">Bull</a></li>
                    
                    </ul>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Vet Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="search_vet.html">Search A Vet</a></li>
                      <!-- <li><a class="dropdown-item" href="consultation.html">Consultation</a></li> -->
                      <li><a class="dropdown-item" href="book_appointment.html">Book An Appointment</a></li>
                      <li><a class="dropdown-item" href="certify_animal.html">Certify My Animal</a></li>
                      <li><a class="dropdown-item" href="vet_ragistration.html"> Register as a Vet</a></li>
                   
                    
                    </ul>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Transport
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="search_transport.html">Search Transport</a></li>
                        <li><a class="dropdown-item" href="book_transport.html"> Book Transport</a></li>
                        <li><a class="dropdown-item" href="register_vendor.html">Register As Vendor</a></li>
               
                    
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="online_courses.html" id="navbarDropdown">
                      Education
                    </a>
                     </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="forum_disscussion.html">
                      Community & Forum
                    </a>
                   
                  </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="news_updates.html">
                      News & Updates
                    </a>

                  </li>
            </ul>





        </div>
        <!-- end of col  -->


        <hr class="" style="opacity: 1; background-color: #0572B2;">

    </div>
    <!-- end of row  -->
    



        <div class="row pad-50 mb-5">

            <div class="col-12 py-5 mb-5">

                <form action="" method="">

                    <div class="row">

                        <div class="col-md-4 col-lg-3 my-3">
                            <label for="animaltype" class="form-label tcolor fw-bold">Animal Type</label>
                            <select id="animaltype"  class="form-select" onchange="showDiv('hidden_div', this)" name="animaltype">
                              <option value="" disabled  selected>Select Animal Type...</option>
                              <option value="Cow">Cow</option>
                              <option value="Buffalo">Buffalo</option>
                              <option value="Bull">Bull</option>
                              <option value="Sheep" >Sheep</option>
                              <option  value="Goat"> Goat</option>
                            </select>
                            
                          </div>

                         

                          <div class="col-md-4 col-lg-3 my-3 ps-xl-5 my-auto">
                            <label for="Gender" class="form-label tcolor fw-bold">Gender</label>
                            <br>
                            <input type="radio" name="gender" id="male">
                            <label for="male">Male</label>
                            
                            <input type="radio" name="gender" class="ms-4" id="female">
                            <label for="female">Female</label>
                          </div>


                          <div class="col-md-4 col-lg-3 my-3">
                            <label for="images" class="form-label tcolor fw-bold">Upload Images</label>
                            <input type="file" class="form-control" id="images">
                          </div>

                          <div class="col-md-4 col-lg-3 my-3">
                            <label for="images" class="form-label tcolor fw-bold">Upload Video</label>
                            <input type="file" class="form-control" id="images">
                          </div>


                          <div class="col-md-4 col-lg-3 my-3 my-md-auto">
                         
                            <input type="radio" name="gender" id="male">
                            <label for="owner">Owner</label>
                            
                            <input type="radio" name="gender" class="ms-4" id="female">
                            <label for="midiator">Midiator </label>

                          </div>
                                               
                          <div class="col-md-4 col-lg-3 my-3 dropdown">
                            <label for="amimalno" class="form-label tcolor fw-bold">No Of Animals</label>
                            <br>
                            <button class="btn bg-transparent  border dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              <p class="me-5 d-inline"> Select...</p>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" id="btn1">1</a></li>
                              <li><a class="dropdown-item" id="btn2">2</a></li>
                            </ul>
                          </div>

                        


                    </div>
                    <!-- end of row  -->

                    <div class="row" id="form1" style="display: none;">

                        <div class="col-md-4 col-lg-3 my-3">
                            <label for="age" class="form-label tcolor fw-bold">Age</label>
                            <input type="text" class="form-control" placeholder="Enter Age" id="age">
                          </div>

                          <div class="col-md-4 col-lg-3 my-3">
                            <label for="vac" class="form-label tcolor fw-bold">Vaccination Done</label>
                            <select id="vac" class="form-select" name="vaccination">
                              <option value="" disabled  selected>Select...</option>
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                          </div>

                      
                         <div class="col-md-4 col-lg-3 my-3">
                            <label for="Breed" class="form-label tcolor fw-bold">Breed</label>
                            <input type="text" class="form-control" placeholder="Enter Breed" id="Breed">
                          </div>
                          <div class="col-md-4 col-lg-3 my-3">
                            <label for="breadtype" class="form-label tcolor fw-bold">Bread Type</label>
                            <br>
                            <input type="radio" name="breadtype" id="Cross">
                            <label for="Cross">Cross</label>
                            
                            <input type="radio" name="breadtype" class="ms-4" id="Pure">
                            <label for="Pure">Pure</label>
                          </div>
                          <div class="col-md-4 col-lg-3 my-3" id="hidden_div" style="display: non;">
                            <label for="Weight"  class="form-label tcolor fw-bold">Weight Only Sheep/Goat</label>
                            <input type="text" class="form-control" placeholder="Enter Weight" id="Weight">
                          </div>
                   
                       
                          <div class="col-md-4 col-lg-3 my-3">
                            <label for="price" class="form-label tcolor fw-bold">Price</label>
                            <input type="text" class="form-control" placeholder="Enter Amount" id="price">
                          </div>

                          <div class="col-md-4 col-lg-3 my-3 dropdown">
                            <label for="Pregananat" class="form-label tcolor fw-bold">Pregananat</label>
                            <br>
                            <button class="btn text-start bg-transparent  border dropdown-toggle" type="button" id="Pregananat" data-bs-toggle="dropdown" aria-expanded="false">
                               <p class="me-5 d-inline"> Select...</p>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" id="btn3">Yes</a></li>
                              <li><a class="dropdown-item" id="btn4">No</a></li>
                            </ul>
                          </div>

                          
                        
                       
                    </div>
                    <!-- end of row  -->

                    
                    <div class="row" id="form2" style="display: none;">

                        <div class="col-md-4 col-lg-3 my-3">
                            <label for="bread" class="form-label tcolor fw-bold">Bread</label>
                            <input type="text" class="form-control" placeholder="Enter Bread" id="bread">
                          </div>

                          <div class="col-md-4 col-lg-3 my-3" id="hidden_div" style="display: non;">
                            <label for="Weight"  class="form-label tcolor fw-bold">Weight Only Sheep/Goat</label>
                            <input type="text" class="form-control" placeholder="Enter Weight" id="Weight">
                          </div>

                      
                            <div class="col-md-4 col-lg-3 my-3">
                            <label for="vac" class="form-label tcolor fw-bold">Vaccination Done</label>
                            <select id="vac" class="form-select" name="vaccination">
                              <option value="" disabled  selected>Select...</option>
                              <option value="Yes">Yes</option>
                              <option value="No">No</option>
                            </select>
                          </div>

                          <div class="col-md-4 col-lg-3 my-3">
                            <label for="price" class="form-label tcolor fw-bold">Price</label>
                            <input type="text" class="form-control" placeholder="Enter Amount" id="price">
                          </div>
                       
                       
                    </div>
                    <!-- end of row  -->

                    <div class="row" id="form3" style="display: none;">

                        <div class="col-md-4 col-lg-3 my-3">
                            <label for="Month" class="form-label tcolor fw-bold">Due Month</label>
                            <input type="text" class="form-control" placeholder="Due Month" id="Month">
                          </div>
                     

                       
                    </div>
                    <!-- end of row  -->

                    


                    <div class="row justify-content-around mt-3 text-center">

                        <div class="col-12 text-start pb-5">
                            <label for="price" class="form-label tcolor fw-bold">Comments</label>
                            <br>
                            <textarea name="comment" placeholder="   Enter Your Message..." class="comment" id="" rows="5"></textarea>

                        </div>
                        <!-- end of col  -->

                        <div class="col-12 col-md-3">

                            <button id="submitbtn" type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="btnsubmit px-5 pt-3">
                                <p id="btnText">Submit</p>
                                <div class="check-box">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                                        <path fill="transparent" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                                    </svg>
                                </div>
                            </button>


                        </div>
                        <!-- end of col  -->

                    </div>
                    <!-- end of row  -->
                   
                  


                </form>
                <!-- end of form  -->


            </div>
            <!-- end of col  -->


        </div>
        <!-- end of row  -->






        <footer class="" style="margin-top: 150px;">

          <div class="row pad-50 mt-5" id="footer">
  
            <hr class="" style="opacity: 1; background-color: #0572B2;">
              
              <div class="col-12 col-md-1 text-center">
  
  
                  <ul class="list-unstyled justify-content-around d-flex d-md-block">
                    <li class="my-2">
                      <a href="#" class="text-decoration-none text-dark fs-5"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="my-2">
                        <a href="#" class="text-decoration-none text-dark fs-5"><i class="fab fa-facebook-f"></i></a>
                    </li>
                      <li class="my-2">
                          <a href="#" class="text-decoration-none text-dark fs-5"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                      <li class="my-2">
                          <a href="#" class="text-decoration-none text-dark fs-5"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li class="my-2">
                          <a href="#" class="text-decoration-none text-dark fs-5"><i class="fab fa-youtube"></i></a>
                      </li>
                  </ul>
  
  
               
                  
                  
              </div>
              <!-- end of col  -->
  
              <div class="col-12 col-md-3">
  
                  <strong style="border-bottom: 2px solid #0572B2;">Our Vision</strong>
  
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, veniam?</p>
  
  
 
                  <strong  style="border-bottom: 2px solid #0572B2;">Our Mission</strong>
  
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, veniam?</p>
  
  
  
              </div>
              <!-- end of col  -->

              
  
              <div class="col-12 col-md-2" id="info-page">
  
                <ul class="list-unstyled mt-3">
                  <li class="my-2">
                    <a href="about_us.html" class="text-decoration-none text-dark">About Us</a>
                  </li>
                  <li class="my-2">
                    <a href="contact_us.html" class="text-decoration-none text-dark">Contact Us</a>
                  </li>
                  <li class="my-2">
                    <a href="privacy_policy.html" class="text-decoration-none text-dark">Privacy Policy</a>
                  </li>
                  <li class="my-2">
                    <a href="terms_condition.html" class="text-decoration-none text-dark">Terms & Condition</a>
                  </li>
                  <li class="my-2">
                    <a href="faq.html" class="text-decoration-none text-dark">FAQ</a>
                  </li>
                </ul>
          
  
  
              </div>
              <!-- end of col  -->
  
              <div class="col-12 col-md-3 pt-3 overflow-hidden">

                <p class="my-0">
                  <strong>Phone: <br class="d-none d-md-block d-lg-none">  </strong><a href="#" type="tel" class="text-decoration-none text-dark ms-2">123456789</a>
                </p>
                <p class="my-0">
                  <strong>Email: <br class="d-none d-md-block d-lg-none"> </strong><a href="#" type="email" class="text-decoration-none text-dark ms-2">abc@gmail.com</a>
                </p>
                <address class="my-0">
                  <strong>Address: <br class="d-none d-md-block d-lg-none">  </strong><a href="#" type="address" class="text-decoration-none text-dark ms-2">XYZ Street</a>
                </address>

              </div>
              <!-- end of col  -->

              <div class="col-12 col-md-3 overflow-hidden order-first order-md-last py-3 pb-md-0 border-start text-center" style="border-color: #0572B2 !important;">
  
                  <img src="../../public/images/India-Farm-Logo.png" class="footer-logo" alt="img not found">
  

                  <div class="position-relative mt-3">
                    <strong class="text-start"> Subscribe to our Newsletter</strong>
                     <form class="newsletter mt-2"  method="post" enctype="multipart/form-data">
                  <i class="far fa-envelope tcolor"></i>
                  <input type="email" name="email" Placeholder="Enter your email address" class="border-0" style="border-bottom: 2px solid #0572B2 !important;" required="">
                  <button type="submit" class="border-0 bg-transparent tcolor" name="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
          
                  </div>

  
              </div>
              <!-- end of col  -->

              <div class="col-12 text-center my-2 order-last">

                   <small class="">All Rights Reserved Ⓒ India Farm Animal </small>


              </div>
              <!-- end of col  -->
              
          </div>

          <!-- end of row  -->


  
          
      </footer>



















        <!-- sell button mobile mode  -->
        <a href="sell.html" class="text-decoration-none position-fixed bottom-0 end-0 mb-5 border ms-lg-5 d-lg-none me-2 px-2 py-2 bg-white rounded-pill">
            <button class="bg-transparent border-0"><i class="fas fa-plus me-2"></i>Sell </button>
        </a>
        <!-- end of button  -->


        <!-- submit button modal  -->
     <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold tcolor" id="exampleModalLabel">Certify</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row text-center py-5">

            <div class="col-6">

                <a href="consultvet.html" class="text-decoration-none border rounded-pill border_color px-5 py-3 tcolor btnhover">Yes</a>

            </div>
            <!-- end of col  -->

            <div class="col-6">

                <a href="sell.html" class="text-decoration-none border rounded-pill border_color px-5 py-3 tcolor btnhover">No</a>

            </div>
            <!-- end of col  -->


          </div>
          <!-- end of col  -->
        </div>
       
    </div>
  </div>

    </div>
    <!-- end of container fluid  -->
   




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- jquery link  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="assets\script.js"></script>


    <script>
      window.addEventListener("scroll", function () {
        if (pageYOffset >= 100) {
          // document.getElementById("header").style.position = "fixed";
          document.getElementById("header").style.background = "url(assets/images/footer_bg.png) center center no-repeat";
        } else {
          // document.getElementById("header").style.position = "static";
          document.getElementById("header").style.background = "white";
          
  
        }
      });
    </script>

<!-- gender selection  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
          $('[name="animaltype"]').change(function() {
            if ($(this).val() == "Cow" || $(this).val() == "Buffalo" || $(this).val() == "Sheep" || $(this).val() == "Goat") {
              $("#female").prop("checked", true);
            } else if ($(this).val() == "Bull") {
              $("#male").prop("checked", true);
            }
          });
      });
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script>
    $(document).ready(function() {
  $("#btn1").click(function() {
    $("#form1").toggle(300);
    $("#form2").hide(300);
  });
  $("#btn2").click(function() {
    $("#form2").toggle(300);
    $("#form1").hide(300);
  });
  $("#btn3").click(function() {
    $("#form3").toggle(300);
     });
  $("#btn4").click(function() {
    $("#form3").hide(300);
     });
});
</script>


<!-- form submit animation submit button  -->
<script type="text/javascript">
    const submitbtn = document.querySelector("#submitbtn");
    const btnText = document.querySelector("#btnText");

    submitbtn.onclick = () => {
        btnText.innerHTML = "Successfully";
        submitbtn.classList.add("myactive");
    };
</script>

<script>
    setTimeout(function() {
    $('#myModal').modal();
}, 5000);
</script>

<script>
  function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<!-- <script>
function showDiv(divId, element)
{
    document.getElementById(divId).style.display = element.value == 'Sheep' ? 'block' : 'none';

}
</script> -->




  </body>
</html>